<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../assets/Logo/logo-color.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>Sora</title>
  </head>
  <body>
    <header>
      <div class="container">
        <img src="../assets/icons/menu-icon.svg" alt="" />
        <h3>Sora</h3>
        <img src="../assets/icons/search-icon.svg" alt="" />
        <img src="../assets/icons/heart-icon.svg" alt="" />
        <img src="../assets/icons/bag-icon.svg" alt="" />
        <nav></nav>
      </div>
    </header>
    <main>
      <section class="hero carousel">
        <div class="slide women-section"></div>
        <div class="slide men-section"></div>
      </section>
    </main>
  </body>
</html>
