<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../assets/Logo/logo-color.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>Sora</title>
  </head>
  <body>
    <header class="container">
      <div class="header">
        <div class="layout-header--left">
          <img
            class="nav-icon menu-icon"
            src="../assets/icons/menu-icon.svg"
            alt=""
          />
          <h2 class="logo">Sora</h2>
        </div>
        <div class="layout-header--right">
          <img class="nav-icon" src="../assets/icons/search-icon.svg" alt="" />
          <img class="nav-icon" src="../assets/icons/heart-icon.svg" alt="" />
          <img class="nav-icon" src="../assets/icons/bag-icon.svg" alt="" />
        </div>
      </div>

      <nav></nav>
    </header>
    <main>
      <section class="hero carousel">
        <div class="slide women-section"></div>
        <div class="slide men-section"></div>
      </section>
    </main>
    <footer class="container footer">
      <div class="socials">
        <h3 class="socials-header">follow us</h3>
        <div class="socials-icons">
          <img
            class="socials-icon"
            src="../assets/icons/instagram-icon.png"
            alt=""
          />
          <img
            class="socials-icon"
            src="../assets/icons/facebook-icon.png"
            alt="facebook-icon"
          />
          <img
            class="socials-icon"
            src="../assets/icons/github-icon.png"
            alt="github-icon"
          />
          <img
            class="socials-icon"
            src="../assets/icons/youtube-icon.png"
            alt="youtube-icon"
          />
        </div>
      </div>
      <div class="contacts"></div>
      <div class="accordion"></div>
    </footer>
  </body>
</html>
