@use "../abstracts/index" as a;
.container {
  max-width: a.$container-width;
  margin: 0 auto;
}
.icon {
  width: 20px;
  height: 20px;
}
.section {
  padding: a.$spacing-xl 0;
}
.border-bottom {
  border-bottom: 1px solid a.$clr-white;
  padding-bottom: a.$spacing-l;
}
.hidden {
  display: none;
  opacity: 0;
}
// slider classes
