@use "../abstracts/index" as a;
body {
  font-family: a.$main-font-stack;
  font-size: a.$fs-200;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: a.$clr-primary;
  font-weight: a.$font-weight-regular;
  letter-spacing: a.$main-letter-spacing;
}
