// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/// @type Color
$text-color: rgb(34, 34, 34) !default;
// --clr-primary: #ea3882;
//   --clr-primary-1-lighter: #ee609b;
//   --clr-primary-2-lighter: #f288b4;
//   --clr-primary-3-lighter: #fdebf3;
//   --clr-secondary: #00072d;
//   --clr-background: #fcf5df;
//   --clr-dark: #00072d;
//   --clr-dark-1-lighter: #1a2042;
//   --clr-dark-2-lighter: #333957;
//   --clr-white: #ffffff;
//   --clr-gray: #2e2e2e;
//   --clr-gray-1-lighter: #6d6d6d;
//   --clr-gray-2-lighter: #979797;
//   --mainTransition: all 0.3s ease-in-out;
//   --spacing-xxxxl: 9.2rem;
//   --spacing-xxxl: 7.2rem;
//   --spacing-xxl: 6.4rem;
//   --spacing-xl: 4.8rem;
//   --spacing-l: 3.2rem;
//   --spacing-ml: 2.4rem;
//   --spacing-m: 1.2rem;
//   --spacing-s: 0.8rem;
//   --spacing-xs: 0.4rem;
//   --curr-screen-width: 100vw;
//   --container-screen-ratio: calc(100vw * 0.1);
//   --header-letter-spacing: -0.5px;
//   --text-letter-spacing: 0.75px;
//   --fs-xxl: 4.3rem;
//   --fs-xl: 3.283rem;
//   --fs-l: 2.887rem;
//   --fs-ml: 2.566rem;
//   --fs-m: 2.027rem;
//   --fs-s: 1.728rem;
//   --fs-xs: 1.44rem;
//   --fs-xxs: 1.2rem;
//   --main-transition: ;
// }
/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;
