// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// primary color
/// @type Color
$clr-primary: rgb(0, 0, 0) !default;

// main white color
/// @type Color
$clr-white: rgb(255, 255, 255) !default;

/// Light grey
/// @type Color
$clr-light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$clr-mid-grey: rgb(153, 153, 153) !default;

/// @type Color
$clr-dark-grey: rgb(68, 68, 68) !default;
// $color-grey-light-1: #f9f7f6;
// $color-grey-light-2: #aaa;

// $color-grey-dark-1: #54483A;
// $color-grey-dark-2: #6D5D4B;
/// Dark grey

/// @type Font-weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weigh-bold: 700;

/// @type type-scale
// $fs-250: 1.2rem;
// $fs-300: 1.4rem;
$fs-400: 1.44rem;
$fs-500: 1.728rem;
$fs-600: 2.2rem;
$fs-650: 2.8rem;
$fs-700: 3.1rem;
$fs-800: 4rem;
$fs-900: 6rem;

//   --curr-screen-width: 100vw;
//   --container-screen-ratio: calc(100vw * 0.1);
/// Open Sans font family
/// @type List
$main-font-stack: "Open Sans", sans-serif !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;
