@use "../abstracts/index" as a;
.header {
  @include a.flex-row(12px);
  margin: a.$spacing-m - a.$spacing-xs 0;
  .logo {
    font-size: a.$fs-400;
  }
  .layout-header--left {
    @include a.flex-row(a.$spacing-s);
  }
  .layout-header--right {
    @include a.flex-row(a.$spacing-ml);
  }

  .menu-icon {
    width: 32px;
    height: 32px;
  }
}
