@use "../abstracts/index" as a;
.newsletter-section {
  margin-bottom: a.$spacing-xxl;
  padding: a.$spacing-xl a.$spacing-m;
  background-color: a.$clr-dark-1-grey;
  .heading-secondary {
    font-size: a.$spacing-ml;
    font-weight: a.$font-weight-bold;
    color: a.$clr-dark-1-primary;
    margin-bottom: a.$spacing-m;
  }
  .subheading {
    color: a.$clr-dark-primary;
    text-transform: capitalize;
    margin-bottom: a.$spacing-ml;
  }
  .newsletter-form {
    display: flex;

    #email {
      font-size: a.$fs-200;
      border: none;
      padding: a.$spacing-xs a.$spacing-xxs;
      &::placeholder {
        color: a.$clr-dark-3-grey;
      }
    }

    .btn--form {
      background-color: a.$clr-dark-2-grey;
      color: a.$clr-dark-1-primary;
      font-weight: a.$font-weight-semi-bold;
      text-transform: uppercase;
      padding: a.$spacing-xxs a.$spacing-xs;
    }
  }
}
