@use "../abstracts/index" as a;
.products-section {
  .heading-primary {
    font-size: a.$fs-400;
    margin-bottom: a.$spacing-ml;
    font-weight: a.$font-weight-bold;
  }

  .carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 a.$spacing-ml;
    cursor: grab;
    overflow: auto;
    .slide {
      scroll-snap-align: start;
      min-height: 300px;
      min-width: 300px;
      &-img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
